{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html>
<head>
  <title>Hits Demo</title>
  {% tailwind_css %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
</head>
<body>

<div class="mx-auto w-9/12 my-10">

<div class="columns-2">

  <h1 class="text-xl">Hits Demo</h1>

  <div class="text-right">
  <button id="getmorehits" class="bg-blue-500 hover:bg-blue-400 text-white py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    Get some more hits
  </button>
  </div>

</div>

<div class="columns-2">
  <div class="py-10 w-full"><canvas class="chart" id="hits"></canvas></div>
  <div class="py-10 w-full"><canvas class="chart" id="hits2" data-group-by="status"></canvas></div>
</div>
<div class="columns-2">
  <div class="py-10 w-full"><canvas class="chart" id="hits3" data-group-by="method"></canvas></div>
  <div class="py-10 w-full"><canvas class="chart" id="hits4" data-group-by="path"></canvas></div>
</div>

</div>

<script type="text/javascript" src="{% static 'hits/main.js' %}"></script>

</body>
